@charset "UTF-8";

@media screen and (max-width: 780px){
    .box{
        width: 350px;
        height: 500px;
    }
    .button{
        margin: auto;
        position: absolute;
        top: 10px;
        left: 335px;
        
    }
    .submit,.remember{
        width: 145px;
    }
    .buttonGoogle,.buttonFace{
        width: 100px;
    }
}